html{
    background-color:whitesmoke;
}
h1{
    text-align-last: center;
}
img{
    margin: 5px;
    padding: 25px;
    width: 27%;
    height: 140px;
    border:1px solid goldenrod;
}
 .image{
    margin: 5px;
    padding: 20px;
    width: 20%;
    height: 140px;
    border:1px solid black;
    background-color:burlywood;
 }
 .box{
     width:20%;
     height:120px;
     border:1px solid goldenrod;
     padding:6px;
     }
*{
    overflow:visible;
}